<footer class="footer">
    <address class="copyleft">
      Contenu créé par <a rel="author" href="https://gitlab.com/yereby/yereby.gitlab.io">YerebY</a> sous
      <a href="http://creativecommons.org/licenses/by/2.0/fr/">licence Creative Commons</a>.
    </address>

    <nav class="links-social">
      <ul>
          <li class="link-social">
            <a href="https://mamot.fr/@yereby">mastodon</a>
          </li>
          <li class="link-social">
            <a href="https://twitter.com/yereby">twitter</a>
          </li>
          <li class="link-social">
            <a href="https://gitlab.com/yereby">gitlab</a>
          </li>
          <li class="link-social">
            <a href="https://github.com/yereby">github</a>
          </li>
      </ul>
    </nav>
</footer>
