<footer class="footer">
    <address class="copyleft">
      Contenu créé par <a rel="author" href="https://github.com/yereby">YerebY</a> sous
      <a href="http://creativecommons.org/licenses/by/2.0/fr/">licence Creative Commons</a>.
    </address>

    <nav class="links-social">
      <ul>
          <li class="link-social">
            <a href="/">Tous les articles</a>
          </li>
          <li class="link-social">
            Twitter&nbsp;:&nbsp;<a href="https://twitter.com/yereby">@yereby</a>
          </li>
          <li class="link-social">
            GitHub&nbsp;:&nbsp;<a href="https://github.com/yereby">yereby</a>
          </li>
          <li class="link-social">
            E-mail&nbsp;:&nbsp;yereby&nbsp;[AT]&nbsp;yereby.net
          </li>
      </ul>
    </nav>
</footer>
